<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        
        <div class="container" >            

            <h2>Booking Details</h2>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 150px;">Booking ID</th>
                        <th style="width: 150px;">User ID</th>
                        <th style="width: 150px;">Court #</th>
                        <th style="width: 150px;">Date Booked</th>
                        <th style="width: 150px;">Time Booked</th>
                        <th style="width: 150px;">Opponent</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- display information about each booking -->
                    <tr th:each="booking : ${bookings}">
                        <td th:text="${booking.bookingId}"></td>
                        <td th:text="${booking.userId}"></td>
                        <td th:text="${booking.courtId}"></td>
                        <td th:text="${booking.bookingDate}"></td>
                        <td th:text="${booking.bookingStartTime}"></td>   
                        <td th:text="${booking.opponent}"></td>  
                    </tr>
                </tbody>
            </table>    
            
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>
