<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container" >            
            <h2>Search for a court</h2>
            <form th:if="${canBook}" class="form-horizontal" th:object="${booking}" th:action="@{/court/selectCourt}" method="get">
                <fieldset>
                    <!-- display any errors if there are any -->
                    <ul th:if="${#fields.hasErrors('bookingDate')}">
                        <!-- display every error of date that is found -->
                        <li class="error" th:if="${#fields.hasErrors('bookingDate')}" th:each="err : ${#fields.errors('bookingDate')}" th:text="${err}"></li>
                    </ul>
                    <table class="table table-striped">
                        <tr>
                            <th>Court type</th>
                            <td>
                                <select name="courtType">
                                    <option th:each="codeValue : ${codeValues}" th:text="${codeValue.englishDescription}" th:value="${codeValue.codeValueSequence}" th:selected="${codeValue.codeValueSequence == courtTypeSelected}"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>
				<input type="text" class="datepicker" name="bookingDate" th:field="${booking.bookingDate}"/>
                                <script>
                                    <!-- doesn't allow the user to choose dates from the past -->
                                    $('.datepicker').datepicker({"startDate": "Date.now()}"});
                                </script>
                            </td>
                        </tr>
                    </table>
                    <p>Max of two current bookings</p>
                    <div>
                        <input type="submit" class="btn btn-primary btn-lg" value="Search"/>
                    </div>
                </fieldset>
            </form>
            <div th:if="${!canBook}">
                <p class="error">
                    You cannot book a court at this time. You currently have two active bookings in the future and can not book any more
                    until they are either cancelled or they have occurred already.
                </p>
                <p>
                    <a href="bookingDetails.html">View my bookings</a
                ></p>
            </div>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>