<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container">            
            <h2 th:text="'Book a ' + ${courtTypeEng} + ' Court'"></h2>
            <p class="error" th:text="${message}"></p>
            <form th:object="${booking}" th:action="@{/court/submit}" method="get" class="form-horizontal">
                <fieldset>
                    <!-- display any errors if there are any -->
                    <ul th:if="${#fields.hasErrors('*')}">
                        <!-- display every error of start time that is found -->
                        <li class="error" th:if="${#fields.hasErrors('bookingStartTime')}" th:each="err : ${#fields.errors('bookingStartTime')}" th:text="${err}"></li>
                        <!-- display every error of opponent that is found -->
                        <li class="error" th:if="${#fields.hasErrors('opponent')}" th:each="err : ${#fields.errors('opponent')}" th:text="${err}"></li>
                    </ul>
                    <input type="hidden" name="courtId" id="courtId"/>
                    <input type="hidden" name="bookingDate" th:field="${booking.bookingDate}"/>
                    <input type="hidden" name="userId" th:field="${booking.userId}"/>
                    <input type="hidden" name="courtType" th:value="${courtType}"/>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 8%;">Court</th>
                                <th>Time</th>
                                <th style="width: 20%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- loop through by index for use of parallel arrays -->
                            <tr th:each="i : ${#numbers.sequence(0, courts.size()-1)}">
                                <td th:text="${courts.get(i).courtId}" style="font-size: 18px; text-align: center;"></td>
                                <td>
                                    <!-- dropdown name is not initially set yet -->
                                    <select th:id="'startTime' + ${courts.get(i).courtId}">
                                        <option value="">-- Select a time --</option>
                                        <option th:each="times : ${courtTimes.get(i)}" th:text="${times.startTime} + ' - ' + ${times.endTime}" th:value="${times.startTime}"></option>
                                    </select>
                                </td>
                                <td style="text-align: center;">
                                    <!-- before the form is submitted, the button gets the corresponding dropdown and sets a name 
                                    on it so only one dropdown value is submitted. The hidden courtId input's value is also set -->
                                    <input type="submit" class="btn btn-primary" value="Book This Court" th:onclick="'
                                        document.getElementById(\'startTime' + ${courts.get(i).courtId} + '\').name=\'bookingStartTime\';
                                        document.getElementById(\'courtId\').value=\'' + ${courts.get(i).courtId} + '\';
                                    '"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <select name="opponent">
                        <option value="">-- Select an opponent --</option>
                        <option th:each="opponent: ${opponents}" th:text="${opponent.firstName} + ' ' + ${opponent.lastName}" th:value="${opponent.userId}" th:selected="${opponent.userId == booking.opponent}"></option>
                    </select>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>