<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        
        <div class="container" >            

            <h3>Summary Report</h3>
            <span>Start Date: </span><span th:text="${start}"></span><br/>
            <span>End Date: </span><span th:text="${end}"></span><br/>
            <span>Number of Days: </span><span th:text="${numDays}"></span><br/>
            <span>Tennis court bookings: </span><span th:text="${numTennis}"></span><br/>
            <span>Racquetball court bookings: </span><span th:text="${numRacquet}"></span><br/>
            <span>Squash court bookings: </span><span th:text="${numSquash}"></span><br/>
            <br/><br/>

            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
            
        </div>
        
    </body>
</html>