<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head><title>CIS Court Booking</title></head>
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <a href="../../courtbooking">
                    <img style="vertical-align: bottom; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" />
                </a>
                <h1>Spa<small>&nbsp;Total Fitness</small></h1>
            </div>

            <div class="navbar-inner">
                <ul th:if="${session.loggedInUser != null}" class="nav">

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Menu
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <!--<li><a href="/" th:href="@{/}"><i class="icon-th-list"></i>List</a></li>-->
                            <li><a href="../users/users.html" th:href="@{/users/list.html}"><i class="icon-th-list"></i>Users</a></li>
                            <li><a href="../court/search.html" th:href="@{/court/search.html}"><i class="icon-th-list"></i>Book a Court</a></li>
                            <li><a href="../court/bookingDetails.html" th:href="@{/court/bookingDetails.html}"><i class="icon-th-list"></i>Bookings</a></li>
                        </ul>
                    </li>
                    
                    <li><a href="../other/logout" th:href="@{/other/logout}"><i class="icon-th-list"></i>Logout</a></li>


                </ul>
                
                <ul class="nav navbar-nav navbar-right">    
                    
                    <!--check to see if logged in user is an admin-->
                    <li th:if="${session.loggedInUser != null}" class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResourcesAdmin" th:if="${session.userCode == 1}">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Admin
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../admin/adminCourt" th:href="@{/admin/adminCourt.html}"><i class="icon-th-list"></i>Court Admin</a></li>
                            <li><a href="../admin/adminSchedule" th:href="@{/admin/adminSchedule.html}"><i class="icon-th-list"></i>Schedule Admin</a></li>
                            <li><a href="../admin/adminHours" th:href="@{/admin/adminHours.html}"><i class="icon-th-list"></i>Hours Admin</a></li>
                            <li><a href="../reports/summaryReportDateSelect.html" th:href="@{/reports/summaryReportDateSelect.html}"><i class="icon-th-list"></i>Summary Report</a></li>
                            
                        </ul>
                    </li>
                    
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>

</html>