<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        
        <div class="container" >            

            <h2>Courts Info</h2>
            <a class="btn btn-primary btn-sm" th:href="@{/admin/addCourt}" th:text="Add" ></a>
            <table class="table table-striped" id="theData">
                <thead>
                    <tr>
                        <th style="width: 150px;">Court ID</th>
                        <th style="width: 150px;">Court Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="court : ${courts}">
                        <td th:text="${court.courtId }"></td>
                        <td th:if="${court.courtType == 3}"> Squash </td>
                        <td th:if="${court.courtType == 4}"> Racquetball </td>
                        <td th:if="${court.courtType == 5}"> Tennis </td>
                        <td>
                            <a class="btn btn-primary btn-xs"  th:href="@{/admin/editAdminCourt(id=${court.courtId})}">Edit</a>
                            <a class="btn btn-primary btn-xs"  th:href="@{/admin/deleteAdminCourt(id=${court.courtId})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>    
            
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>
