<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        
        <div class="container" >            

            <h2>Hours Info</h2>
            <a class="btn btn-primary btn-sm" th:href="@{/admin/addHours}" th:text="Add" ></a>
            <table class="table table-striped" id="theData">
                <thead>
                    <tr>
                        <th style="width: 150px;">ID</th>
                        <th style="width: 150px;">Day</th>
                        <th style="width: 150px;">Open</th>
                        <th style="width: 150px;">Close</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="day : ${hours}">
                        <td th:text="${day.businessHoursId}"></td>
                        
                        <td th:if="${day.dayType == 1}"> Sunday </td>
                        <td th:if="${day.dayType == 2}"> Monday </td>
                        <td th:if="${day.dayType == 3}"> Tuesday </td>
                        <td th:if="${day.dayType == 4}"> Wednesday </td>
                        <td th:if="${day.dayType == 5}"> Thursday </td>
                        <td th:if="${day.dayType == 6}"> Friday </td>
                        <td th:if="${day.dayType == 7}"> Saturday </td>
                        
                        <td th:text="${day.startTime }"></td>
                        <td th:text="${day.endTime }"></td>
                        <td>
                            <a class="btn btn-primary btn-xs"  th:href="@{/admin/editAdminHours(id=${day.businessHoursId})}">Edit</a>
                            <a class="btn btn-primary btn-xs"  th:href="@{/admin/deleteAdminHours(id=${day.businessHoursId})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table> 
            
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>
