<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        
        <div class="container" >            

            <h2>Schedules Info</h2>
            <a class="btn btn-primary btn-sm" th:href="@{/admin/addSchedule}" th:text="Add" ></a>
            <table class="table table-striped" id="theData">
                <thead>
                    <tr>
                        <th style="width: 150px;">Schedule ID</th>
                        <th style="width: 150px;">Start Time</th>
                        <th style="width: 150px;">End Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="schedule : ${schedule}">
                        <td th:text="${schedule.scheduleId}"></td>
                        <td th:text="${schedule.startTime }"></td>
                        <td th:text="${schedule.endTime }"></td>
                        <td>
                            <a class="btn btn-primary btn-xs"  th:href="@{/admin/editAdminSchedule(id=${schedule.scheduleId})}">Edit</a>
                            <a class="btn btn-primary btn-xs"  th:href="@{/admin/deleteAdminSchedule(id=${schedule.scheduleId})}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table> 
            
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>
