<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <h2>Edit Time Slot</h2>
            <p th:text="${message}"></p>
            <form th:object="${schedule}" action="editSchedule.html (id=${schedule.scheduleId))" th:action="@{/admin/editSubmitSchedule}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Start Time</th>
                            <td>
                                <input type="text" name="startTime" th:value="${schedule.startTime}" maxlength="100"/>
                            </td>
                        </tr>
                        <tr>
                            <th>End Time</th>
                            <td>
                                <input type="text" name="endTime" th:value="${schedule.endTime}" maxlength="100"/>
                            </td>
                            <td> <input type="hidden" name="scheduleId" th:value="${schedule.scheduleId}" /> </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Edit</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>

        </div>
    </body>
</html>