<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <h2>Edit Court</h2>
            <p th:text="${message}"></p>
            <form th:object="${court}" action="editSubmitCourt (id=${court.courtId))" th:action="@{/admin/editSubmitCourt}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Court Type</th>
                            <td>
                                <select name="courtType">
                                    <option th:each="courtType : ${courtTypes}" th:value="${courtType.codeValueSequence}" th:text="${courtType.englishDescription}" >types here</option>
                                </select>
                            </td>
                            <td> <input type="hidden" name="courtId" th:value="${court.courtId}" /> </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" th:value="${court.courtId}" type="submit">Edit</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>