<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Spa Total Fitness</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <form  th:object="${user}" action="(Not used)" th:action="@{/authenticate}" method="post">
                <div class="container" >
                    <h2>Spa Total Fitness</h2>                    
                    <!-- Login credentials-->
                    <br/>
                    <p class="error" th:text="${message}"></p>
                    <p><label for="username">Username: </label><input id="username" type="text" th:field="${user.username}" maxlength="100"/></p>
                    <p><label for="password">Password: </label><input id="password" type="password" th:field="${user.password}" maxlength="100"/></p>
                    <p><button class="btn btn-primary btn-lg" type="submit">Login</button></p>
                </div>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>